@font-face {
    font-family: 'opendyslexic';
        src: url('fonts/OpenDyslexic-Regular.otf');
        font-style: normal;
        font-weight: normal;
    } 

    @font-face {
        font-family: 'opendyslexic';
        src: url('fonts/OpenDyslexic-Italic.otf');
        font-style: italic;
        font-weight: normal;
    }

    @font-face {
        font-family: 'opendyslexic';
        src: url('fonts/OpenDyslexic-Bold.otf');
        font-weight: bold;
        font-style: normal;
    } 

    @font-face {
        font-family: 'opendyslexic';
        src: url('fonts/OpenDyslexic-BoldItalic.otf');
        font-weight: bold;
        font-style: italic;
    } 


    * {
        font-size:20px;
        line-height:200%;
        color: #191A42;
        font-family:opendyslexic !important;
    }