<!DOCTYPE HTML>
<html>
<!-- Declaring basics and importing style sheets -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/main.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/DAC.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/General.css')}}" media="screen">
    <title>Direct Air Capture</title>
</head>
<!-- 
<meta name="theme-color" content="#478ac9">
<meta property="og:title" content="DAC">
<meta property="og:type" content="website"> -->

<!-- Starting adding elements to the page -->
  <!-- Putting headers -->
<body>
    <header>
        <div class="container">
            <img src="{{url_for('static', filename='Logo2.JPG')}}" alt="logo" class="logo">
        </div>
        <nav>
            <ul>
                <li><a href="/app">Home</a></li>
                <li><a href="sliders_reaction_kinetics">Reaction Kinetics</a></li>
                <li><a href="ZECC">ZECC</a></li>
                <li><a href="SIR">SIR</a></li>
                <li><a href="DAC">DAC</a></li>
                <li><a href="catalysis_data_interactive_visualization">Catalysis</a></li>
            </ul>
        </nav>
    </header>
    <!-- End Header -->


    <!-- Putting  the picture Description and Hope of the project-->
        <h1 class="head1">Direct Air Captures</h1>
        <div style="border:solid 0.1953vw #000; padding: 0.651vw;background: #E8E8E8;border-radius: 30px; width:auto; margin: auto; max-width:60rem; margin-bottom: 2.279vw;">
            <img src="{{url_for('static', filename='resources/DACPIC1.jpg')}}" alt="DAC Fugure" class="center">
         </div>
        <h1 class="head2">What is DAC?</h1>
        <div class="flexwrap1">
            <div class="flexcol">
           <p>Climate change is one of the most pressing issues in the world today. The rising temperatures caused by the increase of CO2 in the atmosphere has caused severe environmental catastrophes and can potentially get worse. Direct Air Capture, also known as DAC, is an important technology that allows for the removal  of carbon dioxide (CO2) from the atmosphere. This technology captures air from the atmosphere and removes CO2. We will be analyzing the rate of reaction, mass balance and the energy balance of the CO2 capture process in the reactor that will be demonstrated in the graphs below. Adjust the sliders for your desired input conditions and press the play button to see how it works.
            </p>
            </div>
        </div>
        <div style="border:solid 0.1953vw #000; padding: 0.651vw;background: #E8E8E8;border-radius: 30px; width:auto; margin: auto; margin-top: 2.279vw; max-width: 60rem;">
          <iframe src="{{url_for('static', filename='resources/DAC.pdf')}}" style= "display:block; width: 52.083vw;height: 29.2969vw; padding: 0.651vw;margin-left: auto; margin-right: auto;">Loading…</iframe>
        </div>
    <br>
    <br>
    <!-- Initiating Tabs
    <section class="u-clearfix u-section-2" id="sec-d39e">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-tabs u-tabs-1">
          <ul class="u-tab-list u-unstyled" role="tablist">
            <li class="u-tab-item" role="presentation">
              <a class="active u-button-style u-tab-link" id="link-tab-b739" href="#tab-b739" role="tab" aria-controls="tab-b739" aria-selected="true">Model Description</a>
            </li>
            <li class="u-tab-item" role="presentation">
              <a class="u-button-style u-tab-link" id="link-tab-5bf6" href="#tab-5bf6" role="tab" aria-controls="tab-5bf6" aria-selected="false">Model</a>
            </li>
          </ul>
          <div class="u-tab-content">
            <div class="u-align-left u-container-style u-tab-active u-tab-pane u-tab-pane-1" id="tab-b739" role="tabpanel" aria-labelledby="link-tab-b739">
              <div class="u-container-layout u-container-layout-1">
                <div class="u-container-style u-group u-palette-5-base u-radius-10 u-shape-round u-group-1">
                  <div class="u-container-layout u-valign-middle u-container-layout-2">
                    <h3 class="u-text u-text-default u-text-1">What user can do</h3>
                  </div>
                </div>
                <img class="u-image u-image-round u-radius-10 u-image-1" src="{{url_for('static', filename='Test.JPG')}}" alt="" data-image-width="1394" data-image-height="1288">
              </div>
            </div>
            <div class="u-align-left u-container-style u-tab-pane u-tab-pane-2" id="tab-5bf6" role="tabpanel" aria-labelledby="link-tab-5bf6">
              <div class="u-container-layout u-container-layout-3">
                <div>
                  {{bokeh_script_DAC|safe}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

  {{bokeh_script_DACModel|safe}}


</body>
</body>
<div class="footer1">
    <div class="flexcol5">
        <img src="{{url_for('static', filename='Logo2.JPG')}}" alt="logo" style="margin: 5px; width: 44.14vw; height: 8.854vw;">
    </div>
    <div class="flexcol6">
        <h2 style="font-family: Segoe UI; text-align:center; font-size: 3.125vw; font-weight: 500; color: #fff;"> Acknowledgements</h2>
    </div>
    </div>
    <div class="footer">
            <div class="flexcol2">
          <pre style="font-family: Segoe UI; text-align:center; font-size: 2.345vw; font-weight: 250; color: #fff;">     Faculty & External Advisors:                                                  Developers:</pre>
               <div class="flexwrap"> 
                    <div class="flexcol1">
                        <img src="{{url_for('static', filename='rangarajan1.jpg')}}" alt= "Prof R" class="footerpic"> <br><br><br><br><br><br>
                        <img src="{{url_for('static', filename='Raghu.jpg')}}" alt= "Raghu" class="footerpic"> <br><br><br><br><br><br>
                        <img src="{{url_for('static', filename='grassi1.jpg')}}" alt= "Dr. Grassi" class="footerpic"> <br><br><br><br><br><br>
                        <img src="{{url_for('static', filename='steve.jpg')}}" alt= "Steve" class="footerpic"> <br><br><br><br><br><br>
                    </div>
                    <div class="flexcol1" style="float:left">
                        <p> <strong>Prof. Srinivas Rangarajan</strong> <br> Principal Investigator <br><br> <a href="https://sites.google.com/lehigh.edu/rangarajan-group/" class="footerbutton">Bio</a></p><br><br><br><br><br><br>
                        <p> <strong>Dr. Raghuram Thiagarajan</strong> <br> Project Lead <br> <a href="https://www.linkedin.com/in/raghuramt/" class="fa fa-linkedin"></a> <a href="https://github.com/swamilikes2code" class="fa fa-github"></a></p><br><br><br><br><br><br>
                        <p> <strong>Dr. Vincent Grassi</strong> <br> Assistant Lead <br><br> <a href="https://engineering.lehigh.edu/news/article/memoriam-vincent-g-grassi-chbe-professor-practice"class="footerbutton">Memo</a></p><br><br><br><br><br><br>
                        <p> <strong>Steve Anthony</strong> <br> Tech Assistant<br> <a href="https://www.linkedin.com/in/steve-anthony-99a1b014/" class="fa fa-linkedin"></a></p><br><br><br><br> 
                    </div>
                </div>    
            </div>
            <div class="flexcol4">
                <div class="flexwrap">
                    <div class="flexcol1">
                        <img src="{{url_for('static', filename='Neel.jpg')}}" alt= "Neel" class="footerpic"> <br><br><br><br><br><br>
                        <img src="{{url_for('static', filename='Timothy.jpg')}}" alt= "Timothy" class="footerpic"> <br><br><br><br><br><br>
                        <img src="{{url_for('static', filename='Xu.jpg')}}" alt= "Xu" class="footerpic"> <br><br><br><br><br><br>
                    </div>
                    <div class="flexcol1" style="float:left">
                        <p> <strong>Neel Surya</strong> - Class of 2021 <br> Design, Implementation and UI/UX Developer <br> <a href="https://www.linkedin.com/in/neel-surya-a6a4881b4/" class="fa fa-linkedin"></a> <a href="https://github.com/Neel-Surya" class="fa fa-github"></a></p><br><br><br><br><br><br>
                        <p> <strong>Timothy Odom</strong> - Class of 2021 <br> Core Developer <br> <a href="https://www.linkedin.com/in/timothy-odom-831218216at3/" class="fa fa-linkedin"></a> <a href="https://github.com/too223" class="fa fa-github"></a></p><br><br><br><br><br><br>
                        <p> <strong>Xu Chen</strong> - Class of 2021 <br> Core Developer <br> <a href="https://www.linkedin.com/in/xu-chen-lu/" class="fa fa-linkedin"></a> <a href="https://github.com/xuc323" class="fa fa-github"></a></p><br><br><br><br><br><br>
                    </div>
                </div>    
            </div>
            <div class="flexcol3" style="padding-right:15px">
                <div class="flexwrap">
                    <div class="flexcol1">
                        <img src="{{url_for('static', filename='Alex.JPG')}}" alt= "Alex" class="footerpic"> <br><br><br><br><br><br>
                        <img src="{{url_for('static', filename='anna.JPG')}}" alt= "Anna" class="footerpic"> <br><br><br><br><br><br>
                        <img src="{{url_for('static', filename='brian.JPG')}}" alt= "Brian" class="footerpic"> <br><br><br><br><br><br>
                    </div>
                    <div class="flexcol1" style="float:left">
                        <p> <strong>Alex Outkou</strong> - Class of 2021 <br> UI/UX and HTML Developer <br> <a href="https://www.linkedin.com/in/alex-outkou/" class="fa fa-linkedin"></a> <a href="https://github.com/ado323" class="fa fa-github"></a></p><br><br><br><br><br><br>
                        <p> <strong>Anna Moragne</strong> - Class of 2020 <br> Core Developer <br> <a href="https://www.linkedin.com/in/anna-moragne/" class="fa fa-linkedin"></a> <a href="https://github.com/annamoragne" class="fa fa-github"></a></p><br><br><br><br><br><br>
                        <p> <strong>Brian Lucas</strong> - Class of 2020 <br> Design, Implementation and UI/UX Developer <br> <a href="https://www.linkedin.com/in/brian-lucas-327196216/" class="fa fa-linkedin"></a> <a href="https://github.com/cariocabrian" class="fa fa-github"></a></p><br><br><br><br><br><br>
                    </div>
                </div>    
            </div>
    </div>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfk_R8of6mNMjPTKDMvzR5CNC4E6SF-VjPujJxoTxdHDm2BPA/viewform?embedded=true" style= "background-color: #262626" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

</html> -->
