body {
  margin: 0;
  background: #fff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
     }
      .container {
          width: 85vw;
          margin: 0 auto;
          position: relative;
}

.container {
width: 85vw;
margin: 0 auto;
position: relative;
}

header {
background: #262626;
height: 5.86vw;
}

Header::after {
content: '';
display: table;
clear:both;
}
.logo {
float:left;
padding: 0.651vw 0; 
width:22.79vw;
height:100%;
}

nav {float: right;
}

nav ul {
margin: 0;
padding: 0;
list-style:none;
}

nav li {
display:inline-block;
margin: left 3.56vw;
margin: 0 2.28vw;
padding-top: 2.21vw;
position: relative;

}

nav a {
color: rgb(255, 251, 251);
text-decoration: none;
text-transform: uppercase;
font-size: 1.3vw;
}

nav a:hover {
color: #31A6FF;
}
nav a::before {
content: '';
display: block;
height:5px;
width: 100%;
background-color: #31A6FF;

position:absolute;
width: 0%;
top: 0;
transition: all ease-in-out 250ms;
}

nav a:hover::before {
width: 100%;
}


.head1 {
text-align: center;
color: #000;
font-size: 3.125vw;
font-weight: bold;
font-family: 'Segoe UI';
}

.head2 {
  text-align: center;
  color: #000;
  font-size: 2.125vw;
  font-weight: bold;
  font-family: 'Segoe UI';
  }

.flexwrap1 {
display: flex;
width: auto;
font-family: 'Segoe UI';
color:#484848;
font-weight: 600; 
font-size: 1.354vw;
padding: 1.751vw;
background: #E8E8E8;
gap: 2.083vw;
line-height: 1.5;
margin: auto;
}
.flexwrap {
display:flex;
width: 100%;
font-family: 'Segoe UI';
}
.flexcol {
width: 100%;
margin-left: 1.302vw;
}
.flexcol1H {
width:41%;
}
.flexcol2H {
width:30%;
margin-right: 1.302vw;
}
.head2 {
text-align: center;
color: #000;
font-size: 2.604vw;
font-weight: 600;
font-family: 'Segoe UI';
}
.questions {
width: auto;
margin: auto;
font-family: 'Segoe UI';
color:#484848;
font-weight: 600;
border: 0.1953vw; 
font-size: 1.354vw;
border-style:solid; 
border-color:#000; 
padding: 0.651vw;
background: #E8E8E8;
border-radius: 30px;
max-width: 85rem;
}
li{
margin: 0.651vw 0;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 52.083vw;
height: 29.297vw;
padding: 0.651vw;
}

.flexcol3 {
width: 50%;
} 
.footer {
margin: 0;
padding: 0;
list-style:none;
text-decoration: none;
overflow: hidden;
padding: 1.953vw 0;
box-sizing: border-box;
background-color: #262626;
display:flex;
width: 100%;
font-family: 'Segoe UI';
margin-top: -4.88vw;
}
.footer1 {
margin: 0;
padding: 0;
list-style:none;
text-decoration: none;
overflow: hidden;
padding: 1.953vw 0;
box-sizing: border-box;
background-color: #262626;
display:flex;
width: 100%;
font-family: 'Segoe UI';
margin-bottom: -4.883vw;
}
.footerpic {
width: 7.161vw;
height: 6.51vw;
padding: 0.65vw;
}
.flexcol1 {
position: relative;
color: #ddd;
padding: 0.65vw;
width: 50%;
background: #262626;
height:auto;
font-family: 'work sans', sans-serif;
font-size: 1.042vw;
}
.flexcol1 p{
position:absolute;
left:0;
}
.flexcol1 img{
position:absolute;
right:0;
}

.flexcol2 {
width: 28%;
height:auto;
margin: auto;
}
.flexcol4 {
width: 32%;
height: auto;
margin: auto;
}
.flexcol3 {
width:40%;
height: auto;
margin: auto;
padding-right: 1.3vw;
}
.flexcol5 {
width: 45%;
position: relative;
height: auto;
padding-left: 5.21vw;
}
.flexcol6 {
width: 55%;
position: relative;
height: auto;
}
.footerbutton {
margin: 5px 2px;
text-decoration: none;
font-family: "proxima nova";
font-weight: 200;
font-size:1.302vw;
width: 20px;
text-align:center;
background-color: #31A6FF;
color: #fff;

border: solid 2px #31A6FF;
border-radius: 50px;
padding: 0.521vw;

-webkit-transition-duration: 300ms;
transition-duration:300ms;
}
.footerbutton:hover {
color: #31A6FF;
background-color: #fff;
}
.fa {
padding: 0.521vw;
font-size: 1.302vw;
width: 1.302vw;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 50%;
}
.fa:hover {
opacity: 0.7;
}
.fa-linkedin {
background: #007bb5;
color: white;
}
.fa-github {
border:0.195vw solid #521D91;
} 

@media all and (max-width: 960px) {
nav li {
padding-top: 0.325vw;
}
}