<!DOCTYPE HTML>
<html>
<head>
    <title>STEM Visualizations</title>
</head>

<body>
    <h1 style="font-family:Arial; font-size:500%;">Acknowledgements</h1>

    <link><a href="/app">Homepage</a></link>

    <p style="font-size:200%; font-family:Helvetica; border:3px; border-style:solid; border-color:#000000; padding: 1em;" align="justify">

        <b>Faculty Advisors:</b> Dr. Vincent Grassi, Dr. Srinivas Rangarajan
        <br>
        <b>External Advisors:</b> Dr. Raghu Thiagarajan, Dr. Lori Herz, Dr. Angela Brown, Steve Anthony
        <br>
        <b>Student Fellows:</b> Anna Moragne ’21, Brian Lucas ’22
        

    </p>
    
     <iframe src="https://www.youtube.com/watch?v=v_T3jRRwHnQ" width="640" height="328" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    
    
</body>
</html>
