<!DOCTYPE HTML>
<html>

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Catalysis Data Science Model</title>

</head>

<body>

    <h1 style="font-family:Arial; font-size:500%;">Catalysis Data Science Model</h1>

    <link><a href="/app">Homepage</a></link>
   
        <p style="font-size:200%; font-family:Helvetica; border:3px; border-style:solid; border-color:#000000; padding: 1em;" align="justify"> In this visualization you will be able to go through three different sections:<br><b>The Data Exploration tab</b> will allow you to understand the large dataset and see trends in it through scatter plots and histograms. <br><b>The Correlation Matrix tab</b> will allow you to interact with a matrix which shows the relationship between all the different inputs in the data set.<br><b> The Regression tab </b>will allow you to essentially build your own multivariate regression through picking your own inputs and selecting what output you want. .</p>

        <p style="font-size:200%; font-family:Helvetica; border:3px; border-style:solid; border-color:#000000; padding: 1em;" align="justify">
            <b>How to use:</b>
            Utilize the many different sliders and drop downs in these different tabs to see how the data and regression changes. 
        </p>

        {{bokeh_script_catalysis_data_interactive_visualization|safe}}
    
    <div>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfk_R8of6mNMjPTKDMvzR5CNC4E6SF-VjPujJxoTxdHDm2BPA/viewform?embedded=true" width="1200" height="400" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>


</body>
</html>
