<!DOCTYPE HTML>
<html>

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Catalysis Data Science Model</title>

</head>

<body>

    <h1 style="font-family:Arial; font-size:500%;">Catalysis Data Science Model</h1>

    <link><a href="/app">Homepage</a></link>
   
        <p style="font-size:200%; font-family:Helvetica; border:3px; border-style:solid; border-color:#000000; padding: 1em;" align="justify">The catalysis dataset contains several thousand experimental datapoints that represent instances of the catalytic reaction called Oxidative Coupling of Methane. The purpose of this interactive tool is to allow the user to visually understand the distribution of the catalysis dataset through a combination of customizable scatterplots and histograms.</p>

        <p style="font-size:200%; font-family:Helvetica; border:3px; border-style:solid; border-color:#000000; padding: 1em;" align="justify">
            <b>How to use:</b>
            --
        </p>

        {{bokeh_script_catalysis_data_interactive_visualization|safe}}
    
    <div>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfk_R8of6mNMjPTKDMvzR5CNC4E6SF-VjPujJxoTxdHDm2BPA/viewform?embedded=true" width="1200" height="400" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>


</body>
</html>
