<!DOCTYPE HTML>
<html>

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Infectious Disease Model</title>

</head>

<body>

    <h1 style="font-family:Arial; font-size:500%;">SIR Infectious Disease Model</h1>

    <link><a href="/app">Homepage</a></link>
   
        <p style="font-size:200%; font-family:Helvetica; border:3px; border-style:solid; border-color:#000000; padding: 1em;" align="justify">Our model uses Ordinary Differential Equations to predict the spread of infectious diseases. This model is known as the Susceptible-Exposed-Infected-Recovered Model. With this we have allowed you to simulate your own outbreak with different conditions. This will let you to compare the efficacy of mitigating strategies for infectious disease spread. </p>

        <p style="font-size:200%; font-family:Helvetica; border:3px; border-style:solid; border-color:#000000; padding: 1em;" align="justify">
            <b>How to use:</b>
            Use play button to watch the spread of disease over time.
            Place the slider at a specific time to see the spread of disease at a specific time.
            Click the 'Adjustable SEIR Model' tab to see an adjustable version of the model, that operates with sliders.
        </p>

        {{bokeh_script_SIR|safe}}
    
    <div>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfk_R8of6mNMjPTKDMvzR5CNC4E6SF-VjPujJxoTxdHDm2BPA/viewform?embedded=true" width="3000" height="400" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>


</body>
</html>
