<!DOCTYPE HTML>
<html>
<head>
    <title>Reaction Kinetics</title>
</head>

<body>

    <h1 style="font-family:Arial; font-size:500%;">Reaction Kinetics</h1>

    <link><a href="/">Homepage</a></link>

    <p style="font-size:200%; font-family:Helvetica; border:3px; border-style:solid; border-color:#000000; padding: 1em;" align="justify">Chemical kinetics is the branch of chemistry concerned the rate that reactions take place. You measure the rate of reaction by looking at the change in concentration per unit time, that occurs with reactants and products.</p>

    {{bokeh_script_sliders_reaction_kinetics|safe}}

</body>
</html>
